<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Model</th>
      <th>Passengers</th>
      <th>Created</th>
      <th>Modified</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let airplaneInfo of airplaneData">
      <td>{{ airplaneInfo.code }}</td>
      <td>{{ airplaneInfo.model }}</td>
      <td>{{ airplaneInfo.passengers }}</td>
      <td>{{ airplaneInfo.created | date:'yyyy-MM-dd:HH:mm:ss' }}</td>
      <td>{{ airplaneInfo.lastUpdate | date:'yyyy-MM-dd:HH:mm:ss' }}</td>
      <td>
        <a href="#" (click)="editRecord(airplaneInfo)">Edit</a>
        <a href="#" (click)="deleteRecord(airplaneInfo)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
